asgiref==3.7.2
beautifulsoup4==4.12.2
certifi==2023.5.7
charset-normalizer==3.1.0
crispy-bootstrap4==2022.1
crispy-bootstrap5==0.7
dataclasses-json==0.5.9
Django==4.2.3
dj-database-url==2.0.0
django-bootstrap-v5==1.0.11
django-bootstrap5==23.3
django-crispy-forms==2.0
django-extensions==3.2.3
django-mathfilters==1.0.0
django-recaptcha==3.0.0
django-widget-tweaks==1.4.12
fontawesome-free==5.15.4
fontawesomefree==6.4.0
idna==3.4
marshmallow==3.19.0
marshmallow-enum==1.5.1
mypy-extensions==1.0.0
numpy==1.25.0
opencv-python==4.8.0.74
packaging==23.1
Pillow==10.0.0
requests==2.31.0
requests-toolbelt==1.0.0
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
typing-inspect==0.9.0
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.3
gunicorn==21.2.0
psycopg2-binary==2.9.7
django-environ==0.10.0
PayPal==1.2.5
django-paypal==2.0
